<!-- navbar.ejs -->

<nav class="navbar">
    <ul class="nav-list">
        <li><a href="/">Home</a></li>
    </ul>
    <ul class="nav-list ml-auto">
        <% if (!loggedIn) { %>
            <li><a href="/auth/register">Register</a></li>
            <li><a href="/auth/login">Login</a></li>
        <% } else { %>
            <li><a href="/auth/logout">Logout</a></li>
        <% } %>
    </ul>
</nav>

<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
    }

    nav {
        background-color: #f8f9fa; /* Light gray background color */
        padding: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center; /* Align items vertically centered */
        justify-content: space-between; /* Add space between Home and other links */
    }

    .nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .nav-list li {
        margin-right: 15px; /* Add right margin to separate links */
    }

    .nav-list a {
        text-decoration: none;
        color: black; /* Set link color to black */
    }

    .nav-list a:hover {
        text-decoration: none; /* Turn off text decoration on hover */
        color: #007bff; /* Change color on hover */
    }

    .ml-auto {
        margin-left: auto;
    }
</style>
